openapi: 3.0.0
info:
  title: Stealthera API
  description: >-
    ## System Architecture


    ```

    ┌──────────────┐        ┌───────────────────┐        ┌────────────────┐        ┌─────────────────────┐

    │   Wearable   │──────▶ │  Stealthera Cloud │──────▶ │   Client API   │──────▶ │  Client Platform    │

    │   Device     │        │  Firebase / Node  │        │  (This Doc)    │        │  HIS / EMR / Apps   │

    └──────────────┘        └───────────────────┘        └────────────────┘        └─────────────────────┘
    ```


    Stealthera exposes standardized REST APIs consumed by hospital applications,
    HIS platforms, EMR systems, and client-hosted cloud infrastructure.


    **Base URL:** `https://api.stealthera.in`

    **Device ID Example:** `863758060992848`

    **All timestamps:** IST (Asia/Kolkata)


    ---


    ## Versioning

    All endpoints are prefixed with `/v1`. Breaking changes will increment the
    version prefix to `/v2`.


    ---


    ## Endpoint Groups

    | Tag | Purpose |
    |-----|---------|
    | Watch Upload | Binary data posted by watch firmware |
    | Health Data | Live device list for the dashboard home |
    | Grouped Device | Per-device grouped metrics (1 Firestore read per group) |
    | Device Info | Device metadata, battery, firmware, network |
    | SOS & Safety Events | SOS, fall, sedentary alarm streams |
    | More Metrics | Blood sugar, ketone, uric acid |
    | Alarms | Global alarm / event log |


    ---


    ## iWown Vendor Capability Status

    | Capability | Stored in Firestore | Exposed in API | Notes |
    |---|---|---|---|
    | Heart rate | Yes | Yes (`/vitals`) | |
    | SpO2 | Yes | Yes (`/vitals`) | |
    | Body temperature | Yes | Yes (`/vitals`) | |
    | Blood pressure | Yes | Yes (`/vitals`) | |
    | Steps | Yes | Yes (`/wellness`) | |
    | Distance | If sent by firmware | Yes (`/wellness`) | Returns 0 if not in payload |
    | Calories | If sent by firmware | Yes (`/wellness`) | Returns 0 if not in payload |
    | Sleep (total) | Yes | Yes (`/wellness`) | |
    | Deep / Light / REM sleep | If sent by firmware | Yes (/wellness) | Returns 0 when unavailable; see stagesAvailable flag |
    | HRV | If sent by firmware | Yes (`/wellness`) | |
    | Stress index | If sent by firmware | Yes (`/wellness`) | |
    | ECG | If sent by firmware | Yes (`/diagnostics`) | |
    | Location | If sent by firmware | Yes (`/safety`) | |
    | SOS events | Yes (alarms collection) | Yes (`/sos`) | |
    | Fall alarms | Yes (alarms collection) | Yes (`/sos`) | |
    | Sedentary alarms | Yes (alarms collection) | Yes (`/sos`) | |
    | Call logs | **Not yet** | Returns `[]` | Needs `call_logs` Firestore collection |
    | Battery / Signal / Firmware | **Not yet** | Returns `null` | Firmware must send in payload |
  version: 2.0.0
servers:
  - url: https://api.stealthera.in
tags:
  - name: Health Check
  - name: Watch Upload
  - name: Health Data
  - name: Grouped Device
    description: One Firestore read per group. Used by the dashboard frontend.
  - name: Device Info
    description: Device metadata from the live_devices collection.
  - name: SOS & Safety Events
    description: SOS, fall, and sedentary alarm streams filtered from the alarms collection.
  - name: More Metrics
    description: Blood sugar, blood ketone, uric acid — individual Firestore reads.
  - name: Alarms
    description: Global alarm log across all devices.

security:
  - bearerAuth: []

paths:
  /:
    get:
      tags:
        - Health Check
      summary: Root — API Status
      description: Returns plain-text confirmation that the API server is running.
      security: []
      responses:
        '200':
          description: API is running
          content:
            text/plain:
              example: API is running

  /v1/4g/pb/upload:
    post:
      tags:
        - Watch Upload
      summary: Upload Watch Data (binary)
      description: >-
        Receives a binary protobuf payload from a Stealthera smartwatch and
        persists it to Firestore.


        **Collections written:**

        - `live_devices` (keyed by `device_id`) — latest snapshot

        - `healthData` — append-only log with `receivedAt` timestamp


        **Response:** A single raw `0x00` byte (`application/octet-stream`).


        **Payload fields decoded from `decoded.data`:**

        | Field | Type | Description |
        |---|---|---|
        | `device_id` | string | Device IMEI |
        | `heart_rate_bpm` | number | BPM |
        | `spo2_percent` | number | SpO2 % |
        | `body_temperature_c` | number | °C |
        | `steps` | number | Step count |
        | `distance` | number | Distance in metres |
        | `calories` | number | Calories burned |
        | `sleep_hours` | number | Total sleep hours |
        | `deep_sleep_minutes` | number | Deep sleep |
        | `light_sleep_minutes` | number | Light sleep |
        | `rem_sleep_minutes` | number | REM sleep |
        | `hrv_ms` | number | HRV in ms |
        | `stress_score` | number | Stress index 0–100 |
        | `bp_systolic_mmhg` | number | Systolic mmHg |
        | `bp_diastolic_mmhg` | number | Diastolic mmHg |
        | `blood_sugar` | number | mmol/L |
        | `blood_ketone` | number | mmol/L |
        | `uric_acid` | number | μmol/L |
        | `ecg_records` | number[] | ECG waveform points |
        | `battery_level` | number | Battery % |
        | `signal_strength` | number | Signal dBm |
        | `network_type` | string | e.g. `4G` |
        | `network_operator` | string | Operator name |
        | `sim_iccid` | string | SIM ICCID |
        | `firmware_version` | string | Firmware build |
        | `phone_number` | string | Associated phone |
      security: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/octet-stream
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: ACK byte (0x00)
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /v1/api/health-data:
    get:
      tags:
        - Health Data
      summary: Get All Devices — Live Health Data
      description: >-
        Returns all registered devices with their latest metrics from
        `live_devices`.

        **Response fields per device:**

        | Field | Type | Description |
        |---|---|---|
        | `id` | string | Device ID |
        | `nickname` | string | Human-readable label |
        | `model` | string | Device model |
        | `deviceId` | string | IMEI |
        | `status` | string | `Online` / `Offline` |
        | `steps` | number | Step count |
        | `heartRate` | number | BPM |
        | `bloodOxygen` | number | SpO2 % |
        | `bodyTemp` | number | °C |
        | `phone` | string | Phone number |
        | `updateTime` | string | Last update (IST) |
      responses:
        '200':
          description: Array of device rows
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:          { type: string }
                    nickname:    { type: string }
                    model:       { type: string }
                    deviceId:    { type: string }
                    status:      { type: string }
                    steps:       { type: number }
                    heartRate:   { type: number }
                    bloodOxygen: { type: number }
                    bodyTemp:    { type: number }
                    phone:       { type: string }
                    updateTime:  { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

  /v1/api/device/{deviceId}/vitals:
    get:
      tags:
        - Grouped Device
      summary: Vitals — Heart Rate, Blood Pressure, Blood Oxygen, Body Temp
      description: >-
        Returns all vital-sign metrics in one call (1 Firestore read).


        | Sub-key | Fields |
        |---|---|
        | `heartrate` | `series[]{time,value}`, `average`, `max`, `min` |
        | `bloodpressure` | `series[]{time,systolic,diastolic}`, `avgSystolic`, `avgDiastolic`, `warningRecords` |
        | `bloodoxygen` | `series[]{time,value}`, `average`, `max`, `min`, `warningRecords` |
        | `bodytemp` | `series[]{time,value}`, `average`, `max`, `min`, `warningRecords` |
      parameters:
        - $ref: '#/components/parameters/deviceId'
      responses:
        '200':
          description: Vitals group
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId:      { type: string }
                  heartrate:     { type: object }
                  bloodpressure: { type: object }
                  bloodoxygen:   { type: object }
                  bodytemp:      { type: object }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

  /v1/api/device/{deviceId}/wellness:
    get:
      tags:
        - Grouped Device
      summary: Wellness — Overview, Sleep, Heart Health, Stress
      description: >-
        Returns wellness metrics in one call (2 parallel Firestore reads:
        `healthData` history + `live_devices` fallback).


        | Sub-key | Key Fields |
        |---|---|
        | `overview` | `steps`, `heartRate`, `bloodOxygen`, `bodyTemp`, `sleepHours`, `distance`, `calories`, `bloodPressure{systolic,diastolic}` |
        | `sleep` | `totalMinutes`, `deepSleepMinutes`, `lightSleepMinutes`, `remSleepMinutes`, `stagesAvailable`, `sleepScore`, `apneaRisk`, `series[]{time,stage}` |
        | `hearthealth` | `diagnosis`, `afibRisk`, `hrvScore`, `series[]{time,value}` |
        | `pressure` | `average`, `level`, `series[]{time,value}` |


        **`apneaRisk`** is `"Unknown"` until the watch firmware sends apnea data.

        **`stagesAvailable`** is `true` when sleep stage data (deep/light/REM) was received from the device. When `false`, `deepSleepMinutes`, `lightSleepMinutes`, and `remSleepMinutes` all return `0` — no estimation is performed.
      parameters:
        - $ref: '#/components/parameters/deviceId'
      responses:
        '200':
          description: Wellness group
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId:    { type: string }
                  overview:    { type: object }
                  sleep:       { type: object }
                  hearthealth: { type: object }
                  pressure:    { type: object }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

  /v1/api/device/{deviceId}/diagnostics:
    get:
      tags:
        - Grouped Device
      summary: Diagnostics — ECG
      description: >-
        Returns ECG records and AI interpretation (1 Firestore read).


        | Field | Type | Description |
        |---|---|---|
        | `ecg.records` | array | `[{time, wave: number[]}]` — empty if no ECG uploaded |
        | `ecg.aiResult` | string | AI interpretation text |
      parameters:
        - $ref: '#/components/parameters/deviceId'
      responses:
        '200':
          description: Diagnostics group
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId: { type: string }
                  ecg:      { type: object }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

  /v1/api/device/{deviceId}/safety:
    get:
      tags:
        - Grouped Device
      summary: Safety — Location Track + Device Alarms
      description: >-
        Returns GPS location history and all device-scoped alarms (2 parallel
        Firestore reads).


        | Field | Type | Description |
        |---|---|---|
        | `locationtrack.tracks` | array | `[{lat, lng, time}]` GPS points |
        | `locationtrack.lastLocation` | object\|null | Most recent fix |
        | `alarms` | array | All alarms for this device (all types) |
      parameters:
        - $ref: '#/components/parameters/deviceId'
      responses:
        '200':
          description: Safety group
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId:      { type: string }
                  locationtrack: { type: object }
                  alarms:        { type: array, items: { type: object } }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

  /v1/api/device/{deviceId}/info:
    get:
      tags:
        - Device Info
      summary: Device Info — Firmware, Battery, Network, SIM
      description: >-
        Returns device metadata from the `live_devices` Firestore document.

        Fields that depend on firmware payload (marked *) return `null` until
        the watch sends them.


        | Field | Type | Description |
        |---|---|---|
        | `model` | string | Device model |
        | `firmwareVersion` | string\|null | Firmware version * |
        | `battery` | number\|null | Battery % * |
        | `signal` | number\|null | Signal strength dBm * |
        | `networkType` | string\|null | e.g. `4G` * |
        | `networkOperator` | string\|null | Operator name * |
        | `simIccid` | string\|null | SIM ICCID * |
        | `phone` | string\|null | Associated phone number |
        | `status` | string | `Online` / `Offline` |
        | `lastSeen` | string | Last upload timestamp (IST) |
      parameters:
        - $ref: '#/components/parameters/deviceId'
      responses:
        '200':
          description: Device info
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId:        { type: string }
                  model:           { type: string }
                  firmwareVersion: { type: string, nullable: true }
                  battery:         { type: number, nullable: true }
                  signal:          { type: number, nullable: true }
                  networkType:     { type: string, nullable: true }
                  networkOperator: { type: string, nullable: true }
                  simIccid:        { type: string, nullable: true }
                  phone:           { type: string, nullable: true }
                  status:          { type: string }
                  lastSeen:        { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

  /v1/api/device/{deviceId}/sos:
    get:
      tags:
        - SOS & Safety Events
      summary: SOS Events, Fall Alarms, Sedentary Alerts
      description: >-
        Returns SOS events, fall alarms, and sedentary alerts for a device,
        filtered from the `alarms` collection by `type` field.


        **`callLogs`** always returns `[]` until a `call_logs` Firestore
        collection is populated by the watch firmware.


        | Field | Type | Description |
        |---|---|---|
        | `sosEvents` | array | Alarms where `type` matches `/sos/i` |
        | `fallAlarms` | array | Alarms where `type` matches `/fall/i` |
        | `sedentaryAlarms` | array | Alarms where `type` matches `/sedentary/i` |
        | `callLogs` | array | Always `[]` — requires `call_logs` collection |


        **Each alarm object:**

        | Field | Type | Description |
        |---|---|---|
        | `id` | string | Alarm document ID |
        | `type` | string | Alarm type string |
        | `time` | string | Timestamp (IST) |
        | `location` | string | GPS string (if available) |
        | `content` | string | Human-readable description |
      parameters:
        - $ref: '#/components/parameters/deviceId'
      responses:
        '200':
          description: SOS and safety events
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId:        { type: string }
                  sosEvents:       { type: array, items: { type: object } }
                  fallAlarms:      { type: array, items: { type: object } }
                  sedentaryAlarms: { type: array, items: { type: object } }
                  callLogs:        { type: array, items: { type: object } }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

  /v1/api/device/{deviceId}/bloodsugar:
    get:
      tags:
        - More Metrics
      summary: Blood Sugar
      parameters:
        - $ref: '#/components/parameters/deviceId'
      responses:
        '200':
          description: Blood sugar series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleSeriesData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

  /v1/api/device/{deviceId}/bloodketone:
    get:
      tags:
        - More Metrics
      summary: Blood Ketone
      parameters:
        - $ref: '#/components/parameters/deviceId'
      responses:
        '200':
          description: Blood ketone series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleSeriesData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

  /v1/api/device/{deviceId}/uricacid:
    get:
      tags:
        - More Metrics
      summary: Uric Acid
      parameters:
        - $ref: '#/components/parameters/deviceId'
      responses:
        '200':
          description: Uric acid series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleSeriesData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

  /v1/api/alarms:
    get:
      tags:
        - Alarms
      summary: Get Alarm List (All Devices)
      description: >-
        Returns the full alarm log across all devices, sorted newest first.

        For device-scoped SOS/fall/sedentary events use
        `GET /v1/api/device/{deviceId}/sos`.


        **Alarm types:** `Not worn`, `Sleep`, `Heart rate warning`, `SOS`,
        `Fall detected`, `Sedentary alert`


        | Field | Type | Description |
        |---|---|---|
        | `id` | string | Alarm document ID |
        | `nickname` | string | Device owner nickname |
        | `deviceId` | string | Device IMEI |
        | `type` | string | Alarm type |
        | `time` | string | Timestamp (IST) |
        | `location` | string | GPS string (empty if unavailable) |
        | `content` | string | Human-readable description |
      responses:
        '200':
          description: Array of alarms sorted newest first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlarmRow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Error'

components:
  parameters:
    deviceId:
      name: deviceId
      in: path
      required: true
      schema:
        type: string
      description: Device IMEI
      example: '863758060992848'

  schemas:
    AlarmRow:
      type: object
      properties:
        id:       { type: string }
        nickname: { type: string }
        deviceId: { type: string }
        type:     { type: string }
        time:     { type: string }
        location: { type: string }
        content:  { type: string }

    SimpleSeriesData:
      type: object
      properties:
        deviceId: { type: string }
        date:     { type: string }
        series:
          type: array
          items:
            type: object
            properties:
              time:  { type: string }
              value: { type: number }
        average: { type: number }
        max:     { type: number }
        min:     { type: number }

    Error:
      type: object
      properties:
        error: { type: string }

  responses:
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Unauthorized: missing or invalid Bearer token"
    Forbidden:
      description: Authenticated but not permitted to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Forbidden: insufficient permissions"
    Error:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Bearer token issued at login. Pass as `Authorization: Bearer <token>`.

        **Current status: NOT enforced.** All endpoints are open in the current
        server implementation. Authentication middleware must be added to
        server.ts before production deployment.

        Endpoints that use `security: []` (root health check, device upload)
        are intentionally exempt from user authentication.
