openapi: 3.0.0
info:
  title: Stealthera API
  description: >-
    ## System Architecture


    ```

    ┌──────────────┐        ┌───────────────────┐        ┌────────────────┐        ┌─────────────────────┐

    │              │        │                   │        │                │        │                     │

    │   Wearable   │──────▶ │  Stealthera Cloud │──────▶ │   Client API   │──────▶ │  Client Platform    │

    │   Device     │        │                   │        │                │        │                     │

    └──────────────┘        └───────────────────┘        └────────────────┘        └─────────────────────┘
         Stealthera Device          Firebase / Node              REST Endpoints          Hospital Apps / HIS /
           Smartwatch                  Backend                  (This Document)         EMR / Cloud Infra
    ```


    Stealthera exposes standardized APIs which can be consumed by hospital
    applications, HIS platforms, EMR systems, or client-hosted cloud
    infrastructure.


    ---


    ## Overview


    This backend receives data from Stealthera Device smartwatches and exposes
    endpoints for the health dashboard frontend.


    **Base URL:** `https://api.stealthera.in`


    **Device ID Example:** `863758060992848`


    ---


    ### Endpoint Groups

    - **Watch Upload** — binary data posted by the watch firmware

    - **Health Data** — aggregated live device list

    - **Grouped Device** — per-device health metrics returned in grouped batches
      (one Firestore read per group, used by the dashboard frontend)

    - **More Metrics** — individual per-device endpoints for blood sugar, blood
      ketone, and uric acid (separate Firestore reads)

    - **Alarms** — event / alert log


    ---


    ## Migration Note


    In v1.1 the ten individual device-detail endpoints (`/overview`, `/heartrate`,
    `/sleep`, `/bloodpressure`, `/bloodoxygen`, `/bodytemp`, `/hearthealth`,
    `/ecg`, `/pressure`, `/locationtrack`) were consolidated into four grouped
    endpoints to reduce Firestore read costs. If you were calling any of those
    legacy paths, migrate to the grouped equivalents below.


    ---


    ## Note


    This document represents the current **v1.1 API specification**.


    Future versions will include:

    - Enhanced authentication and authorization

    - Device-to-patient mapping workflows

    - Expanded monitoring and audit capabilities

    - Advanced integration and interoperability features
  version: 1.1.0
servers:
  - url: https://api.stealthera.in
tags:
  - name: Health Check
  - name: Watch Upload
  - name: Health Data
  - name: Grouped Device
    description: >-
      Grouped endpoints — each call triggers one Firestore history read and
      returns all metrics for that group. Used by the dashboard frontend to
      minimise cloud read costs.
  - name: More Metrics
    description: >-
      Individual endpoints for blood sugar, blood ketone, and uric acid. Each
      triggers its own Firestore read and is used by the "More" tabs in the
      dashboard.
  - name: Alarms
paths:
  /:
    get:
      tags:
        - Health Check
      summary: Root — API Status
      description: >-
        Simple health-check endpoint. Returns a plain-text confirmation that the
        API server is running.
      responses:
        '200':
          description: API is running
          content:
            text/plain:
              example: API is running

  /4g/pb/upload:
    post:
      tags:
        - Watch Upload
      summary: Upload Watch Data (binary)
      description: >-
        Receives a binary protobuf payload from an Stealthera Device smartwatch
        and persists it to Firestore.


        **Collections written:**

        - `live_devices` (keyed by `device_id`) — latest snapshot

        - `healthData` — append-only log with `receivedAt` timestamp


        **Response:** A single raw `0x00` byte (`application/octet-stream`). The
        Stealthera Device test tool validates exactly this byte — do not change
        the response format.


        **Expected parsed payload fields (decoded.data):**

        | Field | Type | Description |

        |---|---|---|

        | `device_id` | string | Device IMEI |

        | `heart_rate_bpm` | number | Beats per minute |

        | `spo2_percent` | number | Blood oxygen % |

        | `body_temperature_c` | number | Body temp in °C |

        | `steps` | number | Step count |

        | `phone_number` | string | Associated phone number |
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          description: Must be octet-stream — the watch firmware sends a raw binary payload
          example: application/octet-stream
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: ACK byte (0x00)
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /api/health-data:
    get:
      tags:
        - Health Data
      summary: Get All Devices — Live Health Data
      description: >-
        Returns a list of all registered devices with their latest health
        metrics pulled from the `live_devices` Firestore collection.


        **Response fields per device:**

        | Field | Type | Description |

        |---|---|---|

        | `id` | string | Device ID |

        | `nickname` | string | Human-readable label (defaults to device ID) |

        | `model` | string | Device model (default: `H102CSH`) |

        | `deviceId` | string | IMEI / device identifier |

        | `status` | string | `Online` / `Offline` |

        | `steps` | number | Current step count |

        | `heartRate` | number | Heart rate in BPM |

        | `bloodOxygen` | number | SpO2 percentage |

        | `bodyTemp` | number | Body temperature in °C |

        | `phone` | string | Associated phone number |

        | `updateTime` | string | Timestamp of last update (IST) |
      responses:
        '200':
          description: Array of device rows
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:          { type: string }
                    nickname:    { type: string }
                    model:       { type: string }
                    deviceId:    { type: string }
                    status:      { type: string }
                    steps:       { type: number }
                    heartRate:   { type: number }
                    bloodOxygen: { type: number }
                    bodyTemp:    { type: number }
                    phone:       { type: string }
                    updateTime:  { type: string }

  /api/device/{deviceId}/vitals:
    get:
      tags:
        - Grouped Device
      summary: Vitals — Heart Rate, Blood Pressure, Blood Oxygen, Body Temp
      description: >-
        Returns all vital-sign metrics for a device in a single response.
        Triggers **one** Firestore history read.


        **Replaces individual endpoints:** `/heartrate`, `/bloodpressure`,
        `/bloodoxygen`, `/bodytemp`


        **Response shape:**

        ```json

        {
          "deviceId": "string",
          "heartrate":     { "deviceId", "series", "average", "max", "min" },
          "bloodpressure": { "deviceId", "date", "series", "avgSystolic", "avgDiastolic", "warningRecords" },
          "bloodoxygen":   { "deviceId", "series", "average", "max", "min", "warningRecords" },
          "bodytemp":      { "deviceId", "date", "series", "average", "max", "min", "warningRecords" }
        }

        ```


        **Sub-field details:**

        | Sub-object | Field | Type | Description |

        |---|---|---|---|

        | `heartrate` | `series` | array | `[{ time: string, value: number }]` — BPM readings |

        | `heartrate` | `average` / `max` / `min` | number | BPM stats |

        | `bloodpressure` | `series` | array | `[{ time, systolic, diastolic }]` — 24 hourly readings |

        | `bloodpressure` | `avgSystolic` / `avgDiastolic` | number | mmHg averages |

        | `bloodpressure` | `warningRecords` | array | Readings that exceeded safe thresholds |

        | `bloodoxygen` | `series` | array | `[{ time: string, value: number }]` — SpO2 readings |

        | `bloodoxygen` | `warningRecords` | array | Readings below safe threshold |

        | `bodytemp` | `series` | array | `[{ time: string, value: number }]` — °C readings |

        | `bodytemp` | `warningRecords` | array | Readings outside normal range |
      parameters:
        - name: deviceId
          in: path
          schema:
            type: string
          required: true
          description: Device IMEI
          example: '863758060992848'
      responses:
        '200':
          description: Vitals group
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId:     { type: string }
                  heartrate:    { type: object }
                  bloodpressure: { type: object }
                  bloodoxygen:  { type: object }
                  bodytemp:     { type: object }
        '500':
          description: Firestore read error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /api/device/{deviceId}/wellness:
    get:
      tags:
        - Grouped Device
      summary: Wellness — Overview, Sleep, Heart Health, Pressure (Stress)
      description: >-
        Returns wellness metrics for a device in a single response.
        Triggers **two** parallel Firestore reads (`healthData` history +
        `live_devices` fallback for the overview snapshot).


        **Replaces individual endpoints:** `/overview`, `/sleep`, `/hearthealth`,
        `/pressure`


        **Response shape:**

        ```json

        {
          "deviceId": "string",
          "overview":    { "deviceId", "date", "steps", "heartRate", "bloodOxygen", "bodyTemp", "sleepHours", "bloodPressure" },
          "sleep":       { "deviceId", "date", "totalMinutes", "series", "deepSleepMinutes", "lightSleepMinutes", "awakeTimes", "sleepScore" },
          "hearthealth": { "deviceId", "date", "diagnosis", "afibRisk", "hrvScore", "series" },
          "pressure":    { "deviceId", "date", "series", "average", "level" }
        }

        ```


        **Sub-field details:**

        | Sub-object | Field | Type | Description |

        |---|---|---|---|

        | `overview` | `steps` | number | Step count |

        | `overview` | `heartRate` | number | BPM |

        | `overview` | `bloodOxygen` | number | SpO2 % |

        | `overview` | `bodyTemp` | number | °C |

        | `overview` | `sleepHours` | number | Total sleep hours |

        | `overview` | `bloodPressure` | object | `{ systolic, diastolic }` mmHg |

        | `sleep` | `series` | array | `[{ time, stage }]` — 0=awake, 1=light, 2=deep |

        | `sleep` | `sleepScore` | number | Score 0–100 |

        | `hearthealth` | `afibRisk` | string | `Low` / `Medium` / `High` |

        | `hearthealth` | `hrvScore` | number | HRV score 0–100 |

        | `pressure` | `series` | array | `[{ time, value }]` — stress index 0–100 |

        | `pressure` | `level` | string | `Low` / `Normal` / `High` |
      parameters:
        - name: deviceId
          in: path
          schema:
            type: string
          required: true
          description: Device IMEI
          example: '863758060992848'
      responses:
        '200':
          description: Wellness group
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId:    { type: string }
                  overview:    { type: object }
                  sleep:       { type: object }
                  hearthealth: { type: object }
                  pressure:    { type: object }
        '500':
          description: Firestore read error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /api/device/{deviceId}/diagnostics:
    get:
      tags:
        - Grouped Device
      summary: Diagnostics — ECG
      description: >-
        Returns ECG records and AI interpretation for a device.
        Triggers **one** Firestore history read.


        **Replaces individual endpoint:** `/ecg`


        **Response shape:**

        ```json

        {
          "deviceId": "string",
          "ecg": {
            "deviceId": "string",
            "date": "YYYY-MM-DD",
            "records": [{ "time": "string", "wave": [number] }],
            "aiResult": "string"
          }
        }

        ```


        **ECG sub-fields:**

        | Field | Type | Description |

        |---|---|---|

        | `records` | array | ECG measurement records (empty if no readings taken) |

        | `records[].time` | string | Measurement timestamp (IST) |

        | `records[].wave` | number[] | Raw ECG waveform data points |

        | `aiResult` | string | AI-generated ECG interpretation |
      parameters:
        - name: deviceId
          in: path
          schema:
            type: string
          required: true
          description: Device IMEI
          example: '863758060992848'
      responses:
        '200':
          description: Diagnostics group
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId: { type: string }
                  ecg:      { type: object }
        '500':
          description: Firestore read error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /api/device/{deviceId}/safety:
    get:
      tags:
        - Grouped Device
      summary: Safety — Location Track + Device Alarms
      description: >-
        Returns GPS location history and device-scoped alarm log in a single
        response. Triggers **two** parallel Firestore reads (`healthData`
        history + `alarms` filtered by `deviceId`).


        **Replaces individual endpoint:** `/locationtrack`

        **Adds:** device-scoped alarm list (previously only available via
        the global `/api/alarms` endpoint).


        **Response shape:**

        ```json

        {
          "deviceId": "string",
          "locationtrack": {
            "deviceId": "string",
            "date": "YYYY-MM-DD",
            "tracks": [{ "lat": number, "lng": number, "time": "string" }],
            "lastLocation": { "lat": number, "lng": number } | null
          },
          "alarms": [{ "id", "nickname", "deviceId", "type", "time", "location", "content" }]
        }

        ```


        **Location sub-fields:**

        | Field | Type | Description |

        |---|---|---|

        | `tracks` | array | GPS points — empty while location features are under development |

        | `lastLocation` | object\|null | Most recent GPS fix, or `null` |


        **Alarm fields:**

        | Field | Type | Description |

        |---|---|---|

        | `id` | string | Alarm document ID |

        | `type` | string | `Not worn` / `Sleep` / `Heart rate warning` |

        | `time` | string | Timestamp (IST, YYYY-MM-DD HH:mm:ss) |

        | `content` | string | Human-readable description |
      parameters:
        - name: deviceId
          in: path
          schema:
            type: string
          required: true
          description: Device IMEI
          example: '863758060992848'
      responses:
        '200':
          description: Safety group
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId:      { type: string }
                  locationtrack: { type: object }
                  alarms:
                    type: array
                    items: { type: object }
        '500':
          description: Firestore read error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /api/device/{deviceId}/bloodsugar:
    get:
      tags:
        - More Metrics
      summary: Blood Sugar
      description: >-
        Returns blood sugar time-series data for a device. Triggers one
        Firestore history read.


        **Response fields:**

        | Field | Type | Description |

        |---|---|---|

        | `deviceId` | string | Device IMEI |

        | `date` | string | Date (YYYY-MM-DD) |

        | `series` | array | `[{ time: string, value: number }]` — readings in mmol/L |

        | `average` | number | Average blood sugar |

        | `max` | number | Maximum reading |

        | `min` | number | Minimum reading |
      parameters:
        - name: deviceId
          in: path
          schema:
            type: string
          required: true
          description: Device IMEI
          example: '863758060992848'
      responses:
        '200':
          description: Blood sugar series
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId: { type: string }
                  date:     { type: string }
                  series:   { type: array, items: { type: object } }
                  average:  { type: number }
                  max:      { type: number }
                  min:      { type: number }
        '500':
          description: Firestore read error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /api/device/{deviceId}/bloodketone:
    get:
      tags:
        - More Metrics
      summary: Blood Ketone
      description: >-
        Returns blood ketone time-series data for a device. Triggers one
        Firestore history read.


        **Response fields:**

        | Field | Type | Description |

        |---|---|---|

        | `deviceId` | string | Device IMEI |

        | `date` | string | Date (YYYY-MM-DD) |

        | `series` | array | `[{ time: string, value: number }]` — readings in mmol/L |

        | `average` | number | Average ketone level |

        | `max` | number | Maximum reading |

        | `min` | number | Minimum reading |
      parameters:
        - name: deviceId
          in: path
          schema:
            type: string
          required: true
          description: Device IMEI
          example: '863758060992848'
      responses:
        '200':
          description: Blood ketone series
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId: { type: string }
                  date:     { type: string }
                  series:   { type: array, items: { type: object } }
                  average:  { type: number }
                  max:      { type: number }
                  min:      { type: number }
        '500':
          description: Firestore read error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /api/device/{deviceId}/uricacid:
    get:
      tags:
        - More Metrics
      summary: Uric Acid
      description: >-
        Returns uric acid time-series data for a device. Triggers one
        Firestore history read.


        **Response fields:**

        | Field | Type | Description |

        |---|---|---|

        | `deviceId` | string | Device IMEI |

        | `date` | string | Date (YYYY-MM-DD) |

        | `series` | array | `[{ time: string, value: number }]` — readings in mg/dL |

        | `average` | number | Average uric acid level |

        | `max` | number | Maximum reading |

        | `min` | number | Minimum reading |
      parameters:
        - name: deviceId
          in: path
          schema:
            type: string
          required: true
          description: Device IMEI
          example: '863758060992848'
      responses:
        '200':
          description: Uric acid series
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId: { type: string }
                  date:     { type: string }
                  series:   { type: array, items: { type: object } }
                  average:  { type: number }
                  max:      { type: number }
                  min:      { type: number }
        '500':
          description: Firestore read error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /api/alarms:
    get:
      tags:
        - Alarms
      summary: Get Alarm List (All Devices)
      description: |-
        Returns the full alarm / event log across all devices, sorted newest
        first. For alarms scoped to a single device, use
        `GET /api/device/{deviceId}/safety` instead.

        **Alarm types:**
        - `Not worn` — watch detected it is not being worn
        - `Sleep` — watch entered sleep mode
        - `Heart rate warning` — heart rate exceeded safe threshold

        **Response fields per alarm:**
        | Field | Type | Description |
        |---|---|---|
        | `id` | string | Alarm document ID |
        | `nickname` | string | Device owner nickname (may be empty) |
        | `deviceId` | string | Device IMEI |
        | `type` | string | Alarm type |
        | `time` | string | Timestamp (IST, YYYY-MM-DD HH:mm:ss) |
        | `location` | string | GPS location string (empty if unavailable) |
        | `content` | string | Human-readable alarm description |
      responses:
        '200':
          description: Array of alarms sorted newest first
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:       { type: string }
                    nickname: { type: string }
                    deviceId: { type: string }
                    type:     { type: string }
                    time:     { type: string }
                    location: { type: string }
                    content:  { type: string }
        '500':
          description: Firestore read error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
